@model IEnumerable<Emigrantes.Necesidades>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emigrante.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emigrante.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emigrante.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoSolicitud.Solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prioridadNecesidad.Prioridad)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Emigrante.Identificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emigrante.Nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emigrante.Apellidos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoSolicitud.Solicitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.prioridadNecesidad.Prioridad)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
